* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
 }

.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  flex-basis: 700px;
  flex-direction: column;
  flex-grow: 10;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  flex-basis: 16%;
  flex-grow: 1;
  height: 150px;
  justify-content: center;
  margin: 10px;
}

.aside-container {
  align-self: center;
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}
